/* Import */

@import "src/assets/scss/vars";

/* Style */

:host {
    position: sticky;
    top: 0;
    display: grid;
    background: $darktint1;
    padding: $padding-small;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo link";
    grid-gap: $padding-small;
    box-shadow: $shadow2;
}

.logo {
    grid-area: logo;
    grid-column: span 1;
    padding: $padding-small;
    background: $light2;
    color: $dark2;
}

.link {
    grid-area: link;
    justify-self: end;
    grid-column: span 3;
    background: $light2;
    color: $dark2;
    padding: $padding-small;
}