/* Import */

@import "src/assets/scss/vars";

/* Style */

:host {
    background: $dark2;
    padding: $padding-small;
    grid-area: footer;
    align-self: end;
    margin-top: $padding-large;
    box-shadow: $shadow3;
}