/* Light Colour Vars */

$light1: rgb(209, 209, 209);
$light2: rgb(209, 209, 209);
$light3: rgb(209, 209, 209);
$light4: rgb(209, 209, 209);

/* Dark Colour Vars */

$dark1: rgb(209, 209, 209);
$dark2: rgb(209, 209, 209);
$dark3: rgb(209, 209, 209);
$dark4: rgb(209, 209, 209);

/* Applied Vars */

$shadow: 5px 5px 5px rgba(black, .5);
$shadow: 5px 5px 5px rgba(black, .5);
$shadow: 5px 5px 5px rgba(black, .5);

/* Spacing */

$padding-small: 1em;
$padding-medium: 1em;
$padding-large: 1em;