/* Import */

@import "src/assets/scss/vars";

/* Style */

:host {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: $shadow2;
    padding: $padding-small;
}

.titlebar {
    background: $dark2;
    grid-column: span 2;
    padding: $padding-small;
    h1 {
        margin: 0;
    }
}

article {
    border-top: 1px solid $dark1;
    padding: $padding-small;
}