<section class="titlebar">
  <h1>Main</h1>
</section>
<article>
  <h1>Title</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti autem voluptate dolorem aut ipsum. Aut velit quo excepturi?
    Culpa at sit nulla exercitationem eligendi est repellat quae accusamus rerum. Praesentium.</p>
</article>
<article>
  <h1>Title</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet animi, nesciunt dolores illum ea enim expedita, quo esse
    ipsa vel tempore? Error sit aliquam ad, asperiores eius minima ducimus! Sunt!</p>
</article>
<article>
  <h1>Title</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quasi eius repellendus magnam voluptatem doloremque eveniet
    sed aut! Placeat ex reprehenderit ipsam. Consequatur doloremque exercitationem fugit sit ea fuga repellendus.</p>
</article>
<article>
  <h1>Title</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt omnis accusamus quam molestiae. Voluptatum maxime pariatur
    ex harum consequatur et consectetur itaque dignissimos nulla non possimus, obcaecati, autem sunt nesciunt.</p>
</article>
<article>
  <h1>Title</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in adipisci et ducimus veritatis commodi eius, accusantium
    assumenda deleniti aspernatur voluptates quam nostrum officia nihil inventore quibusdam ipsa minima dolor!</p>
</article>
<article>
  <h1></h1>
</article>